5 (2018-09-27 12:26:33) [main] INFO      smartsvn.system - SESSIONNAME            : "Console"
285 (2018-09-27 12:26:33) [main] INFO      smartsvn.system - SystemDrive            : "C:"
285 (2018-09-27 12:26:33) [main] INFO      smartsvn.system - SystemRoot             : "C:\\Windows"
285 (2018-09-27 12:26:33) [main] INFO      smartsvn.system - TEMP                   : "C:\\Users\\Administrator\\AppData\\Local\\Temp"
285 (2018-09-27 12:26:33) [main] INFO      smartsvn.system - TMP                    : "C:\\Users\\Administrator\\AppData\\Local\\Temp"
285 (2018-09-27 12:26:33) [main] INFO      smartsvn.system - USERDOMAIN             : "MAY"
285 (2018-09-27 12:26:33) [main] INFO      smartsvn.system - USERNAME               : "Administrator"
285 (2018-09-27 12:26:33) [main] INFO      smartsvn.system - USERPROFILE            : "C:\\Users\\Administrator"
285 (2018-09-27 12:26:33) [main] INFO      smartsvn.system - VS140COMNTOOLS         : "C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\Common7\\Tools\\"
285 (2018-09-27 12:26:33) [main] INFO      smartsvn.system - windir                 : "C:\\Windows"
285 (2018-09-27 12:26:33) [main] INFO      smartsvn.system - w